header {
  margin: 60px 0;
}

.header_name_en {
  font-size: 21px;
  letter-spacing: 6px;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  header {
    margin: 30px 0;
  }

  .header_name_en {
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 6px;
  }

}
