.section_single {
  border-top: 2px solid #eeeeee;
}

.single_image {
  margin-top: 50px;
}

.single_concept {
  margin-right: 15px;
}

.single_body {
  text-align: justify;
}

.single_caption {
  margin-top: 15px;
  display: block;
}

@media screen and (max-width: 767px) {
  .table_single {
    margin-top: 30px;
  }
}
