.swiper-container_top .swiper-slide img {
  width: 100%;
}

.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  opacity: 1;
  background: #fff;
  margin: 0 7px !important;
}

.swiper-pagination-bullet-active {
  background: #000;
}

.topview_wrap {
  position: relative;
}

.topview_label_text {
  width: 180px;
  position: absolute;
  bottom: -30px;
  right: 7%;
  text-align: center;
  font-weight: bold;
  letter-spacing: 1.5px;
  z-index: 2;
}

.topview_label {
  position: absolute;
  z-index: 1;
  bottom: -80px;
  right: 7%;
}

.topview_label svg {
  width: 180px;
  height: 180px;
}

@media screen and (max-width:767px) {
  .swiper-container_top .swiper-slide img {
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    display: block;
  }

  .topview_label_text {
    width: 100px;
    bottom: -15px;
    right: 5%;
    font-size: 10px;
    letter-spacing: 0.2px;
  }

  .topview_label {
    bottom: -40px;
    right: 5%;
  }

  .topview_label svg {
    width: 100px;
    height: 100px;
  }
}
