.work {
  margin-bottom: 15px;
}

.work_lowest {
  margin-bottom: 0px !important;
}

.work_image_wrap {
  overflow: hidden;
}

.work_image {
  width: 100%;
  transition: all 0.6s ease;
}

.work_image:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 767px) {
  .work.col-md-4 {
    flex-basis: 48.5%;
    max-width: 48.5%;
  }

  .work {
    margin-bottom: 50px;
  }

}
